.kotak {
    padding: 50px;
    width: 100px;
    height: 50px;
    margin: 10px;
    float: left;
    background: #0288d1;
    color: #fff;
}

.ungu {
    background: plum;
}

#pink {
    background: pink;
}

.oranje {
    background: orange
}